body {
    background-color: #14161a;
    margin: 0;
    padding: 20px;
    color: #fff;

    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#message {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    background-color: #1a1d22;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.03), inset 0px 1px 0px rgba(255, 255, 255, 0.03);
    flex: 1;
    color: #fff;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    background-color: #1a1d22;
    margin: 10% auto;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    color: #fff;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
}

.modal-content h2 {
    margin-top: 0;
    font-size: 24px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

.modal-content label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.modal-content input[type="text"],
.modal-content input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: #2a2d34;
    color: #fff;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #0056b3;
}

.btn-edit {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-right: 5px;
}

.btn-edit:hover {
    background-color: #0056b3;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #c82333;
}


table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    padding: 5px;
}

th, td {
    padding: 10px;
    text-align: left;
    box-shadow: 0 2px 0px rgba(255, 255, 255, 0.1);
}

th {
    background-color: #14161a;
    color: white;
    box-shadow: 0 2px 0px rgba(255, 255, 255, 0.1);
}

tr:hover {
    background-color: #14161a;
    background-image: linear-gradient(135deg, #1a1d22, #14161a)
}

.toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s;
}

.toast.show {
    visibility: visible;
    opacity: 1;
    bottom: 50px;
}

.toast.success {
    background-color: #28a745;
}

.toast.error {
    background-color: #dc3545;
}

.search-container {
    position: relative;
}

.search-container input {
    padding-left: 30px;
}

.search-container i {
    position: absolute;
    left: 10px; 
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
}




@media (max-width: 768px) {
    form {
        flex-direction: column;
    }

    .modal-content {
        width: 90%;
    }

    th, td {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    button {
        padding: 8px 16px;
    }

    .btn-edit, .btn-delete {
        padding: 8px;
    }
}